@media (width <= 800px) {
    #section-results {
        height: auto;
        min-height: 100vh;
        border-radius: 18px;
    }

    #section-results__content{
        flex: none;
        height: auto;
        gap: 144px;
    }

    #section-results__content-list{
        max-height: none;
        gap: 48px;
        overflow-y: visible;
    }

    .result-item{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .section-results__content-rectangle{
        order: 3;
        width: 100%;
        height: 24px;
        flex: none
    }

    .result-item__value{
        order: 0;
        font-size: 144px;
    }

    .result-item__name{
        order: 1;
        text-align: center;
    }

    .section-activity__grid {
        width: 100%;
    }
}

@media (width <= 600px) {
    .section-results__count, .section-results__count-label {
        font-size: 88px;
    }

    .result-item__name{
        font-size: 52px;
    }

    .section-statistics__content-item-count > span {
        font-size: 144px;
    }
}