html, body {
    background-color: var(--color-background-black);
    color: var(--color-text);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

h1 {
    font-family: Slifted, sans-serif;
    font-size: 48px;
    position: absolute;
    visibility: hidden;
}

h2 {
    font-family: TikTokSans, sans-serif;
    font-size: 96px;
    font-weight: 900;
}

p {
    font-family: TikTokSans, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

span {
    font-family: TikTokSans, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

#fish-eye-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

#section-main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 24px 0;
}

.section-heading {
    position: sticky;
    height: 16px;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}

#section-main__heading {
    background-color: var(--color-background-white);
    color: var(--color-background-black);
    mix-blend-mode: difference;
}

#squares-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 24px 12px;
}

.squares-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.square {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-color: var(--color-square, var(--color-background-white));
    animation: square-spin 1s linear infinite;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#section-results {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-background-white);
    color: var(--color-background-black);
    border-radius: 24px 24px 0 0;
    position: relative;

    --color-square: var(--color-background-black);
}

#section-results__heading {
    background-color: var(--color-background-black);
    color: var(--color-background-white);
}

.section-results-effect{
    overflow: hidden;
}

.section-results-top-top, .section-results-bottom-bottom{
    flex-grow: 0;
    flex: 0 0 8.3333333333%;
}

.section-results-top-center, .section-results-bottom-center{
    flex-grow: 0;
    flex: 0 0 16.6666666667%;
}

.section-results-center{
    flex-grow: 1;
    flex: 1 0 50%;
}

.section-results-effect__content{
    transform-origin: top center;
    backface-visibility: hidden;
    will-change: transform;
}

.section-results-top-top > .section-results-effect__content{
    --translate-y-value: 0;

    margin-top: -58.3vh;
    transform: translate3d(0, var(--translate-y-value), 0) scaleY(4);
}

.section-results-top-center > .section-results-effect__content{
    --translate-y-value: 0;

    margin-top: -33.33vh;
    transform: translate3d(0, var(--translate-y-value), 0) scaleY(2);
}

.section-results-center > .section-results-effect__content{
    --translate-y-value: 0;

    margin-top: -25vh;
    transform: translate3d(0, var(--translate-y-value), 0) scaleY(1);
}

.section-results-bottom-center > .section-results-effect__content{
    --translate-y-value: 0;

    margin-top: -149.8vh;
    transform: translate3d(0, var(--translate-y-value), 0) scaleY(2);
}

.section-results-bottom-bottom > .section-results-effect__content{
    --translate-y-value: 0;

    margin-top: -333vh;
    transform: translate3d(0, var(--translate-y-value), 0) scaleY(4);
}